In [3]:
import pandas as pd
import duckdb
import sqlalchemy

%load_ext sql

In [5]:
draft_picks = pd.read_parquet('../data/draft_picks/draft_picks.parquet')
play_by_play = pd.read_parquet('../data/play_by_play/play_by_play_2021.parquet')
players = pd.read_parquet('../data/players/players.parquet')
weekly_rosters = pd.read_parquet('../data/weekly_rosters/roster_weekly_2022.parquet')

In [6]:
draft_picks.head()

,season,round,pick,team,gsis_id,pfr_player_id,cfb_player_id,pfr_player_name,hof,position,...,pass_ints,rush_atts,rush_yards,rush_tds,receptions,rec_yards,rec_tds,def_solo_tackles,def_ints,def_sacks
0,1980,1,1,DET,None,SimsBi00,billy-sims-1,Billy Sims,False,RB,...,0.0,1131.0,5106.0,42.0,186.0,2072.0,5.0,NaN,NaN,NaN
1,1980,1,2,NYJ,None,JoneLa00,lam-jones-1,Lam Jones,False,WR,...,0.0,9.0,17.0,0.0,138.0,2322.0,13.0,NaN,NaN,NaN
2,1980,1,3,CIN,None,MunoAn00,None,Anthony Munoz,True,T,...,0.0,0.0,0.0,0.0,7.0,18.0,4.0,NaN,NaN,NaN
3,1980,1,4,GNB,None,ClarBr23,bruce-clark-1,Bruce Clark,False,DE,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,1.0,39.5
4,1980,1,5,BAL,None,DickCu00,curtis-dickey-1,Curtis Dickey,False,RB,...,0.0,937.0,4019.0,32.0,134.0,1577.0,8.0,NaN,NaN,NaN

In [7]:
play_by_play.head()

,play_id,game_id,old_game_id,home_team,away_team,season_type,week,posteam,posteam_type,defteam,...,out_of_bounds,home_opening_kickoff,qb_epa,xyac_epa,xyac_mean_yardage,xyac_median_yardage,xyac_success,xyac_fd,xpass,pass_oe
0,1.0,2021_01_ARI_TEN,2021091207,TEN,ARI,REG,1,None,None,None,...,0.0,1.0,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,40.0,2021_01_ARI_TEN,2021091207,TEN,ARI,REG,1,TEN,home,ARI,...,0.0,1.0,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,55.0,2021_01_ARI_TEN,2021091207,TEN,ARI,REG,1,TEN,home,ARI,...,0.0,1.0,-1.399805,NaN,NaN,NaN,NaN,NaN,0.491433,-49.143299
3,76.0,2021_01_ARI_TEN,2021091207,TEN,ARI,REG,1,TEN,home,ARI,...,0.0,1.0,0.032412,1.165133,5.803177,4.0,0.896654,0.125098,0.697346,30.265415
4,100.0,2021_01_ARI_TEN,2021091207,TEN,ARI,REG,1,TEN,home,ARI,...,0.0,1.0,-1.532898,0.256036,4.147637,2.0,0.965009,0.965009,0.978253,2.174652

In [8]:
players.head()

,status,display_name,first_name,last_name,esb_id,gsis_id,birth_date,college_name,position_group,position,...,rookie_year,draft_club,draft_number,college_conference,status_description_abbr,status_short_description,uniform_number,suffix,draft_round,season
0,RET,'Omar Ellison,'Omar,Ellison,ELL711319,00-0004866,None,None,WR,WR,...,NaN,None,NaN,None,None,None,None,None,None,NaN
1,ACT,A.J. Arcuri,A.J.,Arcuri,None,00-0037845,None,None,OL,T,...,2022.0,LA,261.0,Big Ten Conference,A01,Active,61,None,None,NaN
2,RES,A.J. Bouye,Arlandus,Bouye,BOU651714,00-0030228,1991-08-16,Central Florida,DB,CB,...,2013.0,None,NaN,American Athletic Conference,R01,R/Injured,24,None,None,NaN
3,ACT,A.J. Brown,Arthur,Brown,BRO413223,00-0035676,1997-06-30,Mississippi,WR,WR,...,2019.0,TEN,51.0,Southeastern Conference,A01,Active,11,None,None,NaN
4,ACT,A.J. Cann,Aaron,Cann,CAN364949,00-0032255,1991-10-03,South Carolina,OL,G,...,2015.0,JAX,67.0,Southeastern Conference,A01,Active,60,None,None,NaN

In [9]:
weekly_rosters.head()

,season,game_type,week,jersey_number,last_name,football_name,first_name,depth_chart_position,entry_year,rookie_year,...,display_name,short_name,uniform_number,status,team_abbr,current_team_id,smart_id,headshot,position,years_exp
0,2022,REG,1,14.0,Lee,Andy,Andy,P,2004,2004,...,Andy Lee,A.Lee,14,ACT,ARI,3800,32004c45-4500-8195-3f84-7c9db88c8928,https://static.www.nfl.com/image/private/{form...,SPEC,18
1,2022,REG,1,5.0,Prater,Matt,Matt,K,2006,2006,...,Matt Prater,M.Prater,5,ACT,ARI,3800,32005052-4114-3616-ccef-0127103fb075,https://static.www.nfl.com/image/private/{form...,SPEC,16
2,2022,REG,1,12.0,McCoy,Colt,Daniel,QB,2010,2010,...,Colt McCoy,C.McCoy,12,ACT,ARI,3800,32004d43-4360-3149-3730-03f6064d0cb7,https://static.www.nfl.com/image/private/{form...,QB,12
3,2022,REG,1,18.0,Green,A.J.,Adriel,WR,2011,2011,...,A.J. Green,A.Green,18,ACT,ARI,3800,32004752-4503-4604-5592-82f254d9dbee,https://static.www.nfl.com/image/private/{form...,WR,11
4,2022,REG,1,99.0,Watt,J.J.,Justin,DE,2011,2011,...,J.J. Watt,J.Watt,99,ACT,ARI,3800,32005741-5457-9210-c7bb-fd19d17d4962,https://static.www.nfl.com/image/private/{form...,DL,11

In [12]:
%config SqlMagic.autopandas = True
%config SqlMagic.feedback = False
%config SqlMagic.displaycon = False

In [5]:
%sql duckdb:///../data/duckdb/fantasy_football.duckdb

In [14]:
%%sql
SELECT
    schema_name,
    function_name
FROM duckdb_functions()
ORDER BY ALL DESC
LIMIT 5

  schema_name              function_name
0  pg_catalog          shobj_description
1  pg_catalog                  pg_typeof
2  pg_catalog         pg_type_is_visible
3  pg_catalog  pg_ts_template_is_visible
4  pg_catalog    pg_ts_parser_is_visible

In [20]:
%%sql

CREATE TABLE draft_picks AS SELECT * FROM draft_picks
CREATE TABLE play_by_play AS SELECT * FROM play_by_play
CREATE TABLE players AS SELECT * FROM players
CREATE TABLE weekly_rosters AS SELECT * FROM weekly_rosters

DBAPIError: (builtins.RuntimeError) Parser Error: syntax error at or near "CREATE"
LINE 2: CREATE TABLE play_by_play AS SELECT * FROM play_by_play
CREATE TABLE players AS SELECT * FROM players
CREATE TABLE weekly_rosters AS SELECT * FROM weekly_rosters...
        ^
[SQL: CREATE TABLE draft_picks AS SELECT * FROM draft_picks
CREATE TABLE play_by_play AS SELECT * FROM play_by_play
CREATE TABLE players AS SELECT * FROM players
CREATE TABLE weekly_rosters AS SELECT * FROM weekly_rosters]
(Background on this error at: https://sqlalche.me/e/14/dbapi)

In [21]:
%%sql
SELECT *
FROM draft_picks
LIMIT 10

,season,round,pick,team,gsis_id,pfr_player_id,cfb_player_id,pfr_player_name,hof,position,...,pass_ints,rush_atts,rush_yards,rush_tds,receptions,rec_yards,rec_tds,def_solo_tackles,def_ints,def_sacks
0,1980,1,1,DET,None,SimsBi00,billy-sims-1,Billy Sims,False,RB,...,0.0,1131.0,5106.0,42.0,186.0,2072.0,5.0,None,NaN,NaN
1,1980,1,2,NYJ,None,JoneLa00,lam-jones-1,Lam Jones,False,WR,...,0.0,9.0,17.0,0.0,138.0,2322.0,13.0,None,NaN,NaN
2,1980,1,3,CIN,None,MunoAn00,None,Anthony Munoz,True,T,...,0.0,0.0,0.0,0.0,7.0,18.0,4.0,None,NaN,NaN
3,1980,1,4,GNB,None,ClarBr23,bruce-clark-1,Bruce Clark,False,DE,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,None,1.0,39.5
4,1980,1,5,BAL,None,DickCu00,curtis-dickey-1,Curtis Dickey,False,RB,...,0.0,937.0,4019.0,32.0,134.0,1577.0,8.0,None,NaN,NaN
5,1980,1,6,STL,None,GreeCu21,curtis-greer-1,Curtis Greer,False,DE,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,None,NaN,69.5
6,1980,1,7,ATL,None,MillJu00,junior-miller-1,Junior Miller,False,TE,...,0.0,3.0,0.0,0.0,122.0,1409.0,14.0,None,NaN,NaN
7,1980,1,8,NYG,None,HaynMa00,mark-haynes-1,Mark Haynes,False,DB,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,None,17.0,1.0
8,1980,1,9,MIN,None,MartDo21,None,Doug Martin,False,DE,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,None,1.0,61.5
9,1980,1,10,SEA,None,GreeJa01,jacob-green-2,Jacob Green,False,DE,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,None,3.0,115.5

In [22]:
con.close()

In [30]:
import os
from pathlib import Path

path = Path('../data')

for file in os.listdir(path/'play_by_play'):
    print(file)

play_by_play_2014.parquet
play_by_play_2004.parquet
play_by_play_1999.parquet
play_by_play_2005.parquet
play_by_play_2015.parquet
play_by_play_2021.parquet
play_by_play_2017.parquet
play_by_play_2007.parquet
play_by_play_2006.parquet
play_by_play_2016.parquet
play_by_play_2020.parquet
play_by_play_2013.parquet
play_by_play_2003.parquet
play_by_play_2002.parquet
play_by_play_2012.parquet
play_by_play_2010.parquet
play_by_play_2000.parquet
play_by_play_2009.parquet
play_by_play_2019.parquet
play_by_play_2018.parquet
play_by_play_2008.parquet
play_by_play_2001.parquet
play_by_play_2011.parquet

In [9]:
%%sql
select 
    game_id,
    home_team,
    away_team,
    posteam,
    defteam,
    play_type,
    count(*) plays
from play_by_play
group by 1,2,3,4,5,6
limit 10

 * duckdb:///../data/duckdb/fantasy_football.duckdb
Done.

[('2014_01_BUF_CHI', 'CHI', 'BUF', 'CHI', 'BUF', 'pass', 51),
 ('2014_01_BUF_CHI', 'CHI', 'BUF', 'CHI', 'BUF', 'kickoff', 6),
 ('2014_01_CIN_BAL', 'BAL', 'CIN', 'CIN', 'BAL', 'field_goal', 6),
 ('2014_01_CIN_BAL', 'BAL', 'CIN', 'BAL', 'CIN', 'punt', 4),
 ('2014_01_CIN_BAL', 'BAL', 'CIN', 'BAL', 'CIN', 'extra_point', 1),
 ('2014_01_CLE_PIT', 'PIT', 'CLE', None, None, None, 5),
 ('2014_01_CLE_PIT', 'PIT', 'CLE', 'CLE', 'PIT', 'field_goal', 2),
 ('2014_01_GB_SEA', 'SEA', 'GB', 'SEA', 'GB', 'extra_point', 4),
 ('2014_01_GB_SEA', 'SEA', 'GB', 'SEA', 'GB', 'punt', 2),
 ('2014_01_IND_DEN', 'DEN', 'IND', 'DEN', 'IND', 'qb_kneel', 4)]